body{
  background-color: #282726;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  text-align: center;

}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#F9F4DA;
  margin: 40px 100px 0 100px;

}
header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h2{
  font-size: 1.25rem;
  font-weight: 500;
  margin: 10px 0 0 0;
}
p{
  margin:0;
}
header p{
  font-size: 0.875rem;
  color:#8E8E8E;
  max-width: 352px;
  margin: 10px 0 0 0;

}

.status{
  background-color: #10A95B;
  min-width: 22rem;
  min-height:3.7rem;
  margin:20px;
  border-radius: 0.5rem;
}
.status p{
  font-size: 1rem;
}

.languages{
  display:flex;
  flex-wrap: wrap;
  max-width: 20rem;
  justify-content: center;
  gap:0.3rem;
  margin:10px;
}
.language{
  border-radius: 0.15rem;
  font-size: 0.75rem;
  font-weight: 700;
  padding:0.3rem;
}

.word{
  margin: 1.5rem;
}
.word span{
  font-size: 1rem;
  margin:0.0875rem;
  display:inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #323232;
  border-bottom-style: solid;
  border-bottom-color: #F9F4DA;
  min-width: 2.5rem;
  min-height: 2.5rem;
}

.keyboard{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 30rem;
  gap:0.4rem;
}

.key{
background-color: #FCBA29;
  color: #1E1E1E;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  border-style: solid;
  border-color: #D7D7D7;
  border-width: 1px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  font-family: inherit;
}

.key.clicked.correct{
  background-color: #10A95B;
}
.key.clicked.wrong{
  background-color: #EC5D49;
}